@import "~@/helper.less";

.Board {
  .col_layout();
  flex: 1;
  // :global  {
  //   .ant-row {
  //     margin: 0 !important;
  //     flex-flow: nowrap;
  //   }
  // }
}

.row {
  flex: 1;
  .row_layout();
  overflow-y: scroll;
}
