@import "~@/helper.less";
.task {
  // padding-left:20px;
}
.addIcon {
  .row_layout();
  justify-content: center;
  font-size: 20px;
  padding: 5px;
  background: #ffffff;
  border-radius: 6px;
  cursor: pointer;
}
.title {
  .row_layout();
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  padding: 10px;
}
.titleText {
  width: 80%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
