.chartPage {
  flex: 1;
  padding: 20px;
}
.cardStyle {
  cursor: pointer;
  height: 100%;
}
.iconStyle {
  font-size: 50px;
  float: left;
}
.statisStyle {
  color: #000000;
  margin-left: 60px;
}
.general {
  color: #8c8c8c;
}
.ordinary {
  color: #1b9aee;
}
.warn {
  color: #fa8c15;
}
.danger {
  color: #ff4d4f;
}
