@import "~@/helper.less";

.transition{
    height: 100vh;
    .col_layout();
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top:-60px;

}
.name{
    font-family: "Hiragino Sans GB", "Microsoft YaHei","PingFang SC",Arial, Helvetica, sans-serif;
}

.logoSvg{
    svg{
        width: 250px;
        height: 250px;
    }

}
.spinLoading{
    .row_layout();
    justify-content: center;
    margin-top:60px;
    height: 60px;
    width: 60px;
}